.container {
  width: 100%;
    min-height: 80px;
    
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .title a {
    color: #0070f3;
    text-decoration: none;
  }
  
  .title a:hover,
  .title a:focus,
  .title a:active {
    text-decoration: none;
  }
  
  .title {
    margin: 0 0 1rem;
    line-height: 1.15;
    font-size: 3.6rem;
  }
  
  .title {
    text-align: center;
  }
  
  .title,
  .description {
    text-align: center;
  }
  
  
  .description {
    line-height: 1.5;
    font-size: 1.5rem;
  }
  
  .grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  
    
    
  }
  
  .card {
    margin: 15px;
    height: 45px;
    width: 100px;
    font-family: sans-serif;
    text-align: center;
    
    border-radius: 15px;
    color: #000000;
    text-decoration: none;
    
    transition: color 0.15s ease, ;
    border-color:rgb(195, 195, 195)
  }
  
  .card:hover,
  .card:focus,
  .card:active {
    color: #0070f3;
    border-color: #0070f3;
  }
  
  .card h3 {
    text-decoration: none;
    outline: none;
    font-size: 14px;
    
  }
  
  
  
 
  @media (max-width: 600px) {
    .grid {
      width: 100%;
      flex-direction: row;
    }
  }
  